<template>
  <article class="home-page">
  	<h3>{{ getCurId }} / {{ getAllQa.length }}</h3>
  	<h2>{{ filterPaper[curqId-1].qTitle }}</h2>
  	<section>
  		<a href="javascript:;" v-for="(qitem,index) in filterPaper[curqId-1].qAnwser" @click="selectOne" class="each-anwser">{{ transfer(index) }}.{{ qitem }}</a>
  	</section>
    <footer>
    	<template v-if="如果是第一页">
    		<a href="javascript:;" @click="nextStep">下一步</a>
    	</template>
    	<template v-else-if="如果是最后一页">
    		<a href="javascript:;" @click="lastStep">上一步</a>
    		<a href="javascript:;" @click="nextStep">下一步</a>
    	</template>
    	<template v-else="如果是中间页">
    		<a href="javascript:;" @click="lastStep">上一步</a>
    		<a href="javascript:;" @click="submitAnwser">提交</a>
    	</template>
    </footer>
  </article>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
	name:"homeCom",
	data(){
		filterPaper:[]
	},
	created(){
		this.actionAllQa(this.getAllQa);
	},
	computed:{
		...mapState(['userAnwser','paper','curqId']),
		getAllQa(){
			return this.paper;
		},
		getCurId(){
			return this.curqId;
		}
	},
	watch:{
		paper(val){
			this.renderPage(val);
		}
	},
	methods:{
		...mapActions(['actionNextStep','actionLastStep','actionAllQa']);
		renderPage(val){
			this.filterPaper = JSON.parse(JSON.stringify(val));
		},
		transfer(index){
			switch(index){
				case 0: return 'A' ;break;
				case 1: return 'B' ;break;
				case 2: return 'C' ;break;
				case 3: return 'D' ;break;
				default:;
			}
		},
		selectOne(){

		},
		nextStep(){

		},
		lastStep(){

		},
		submitAnwser(){

		}
	}
}

</script>

<style>
@import './static/style.css';
.home-page {
  
}
</style>
