<template>
  <article class="result-page">
  	<h3>1/10</h3>
  	<h2></h2>
  	<section>
  		<a href="javascript:;"></a>
  	</section>
    
    <footer><a href="javascript:;"></a></footer>

  </article>
</template>

<script>

</script>

<style>
@import './static/style.css';
.result-page {
  
}
</style>